ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s ease;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #999;
}
h1{
  font-size: 4em;
  text-align: center;
}
p{
  font-size: 2em;
  text-align: center;
  }
.x{
  text-align: center;
  font-size: 4em;
margin-top: 70px;
}
.say{
  text-align: center;
  font-size: 25px;
}
img{
  margin-top: 100px;
}
.box{
  display: block;
  float: left;
}
